body {
	font-family: "Trebuchet MS";
	text-align:center;
	background-color: #FFFFFF;
	font-size:14px;
}


h1,h2,h3,h4,h5,h6,p,pre,th,td {
	margin:0px 10px 10px 10px;
	}
img {
	margin:0px;
	}
img.bordered {
	margin:10px 0px;
	}
	
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
	}
h1 {
	font-size:160%;
	}
h2 {
	font-size:150%;
	}
h3 {
	font-size:140%;
	}
h4 {
	font-size:130%;
	}
h5 {
	font-size:120%;
	}
h6 {
	font-size:110%;
	}
	
		
	
#frame {
	width:760px;
	margin-right:auto;
	margin-left:auto;
	margin-top:0px;
	padding:10px;
	text-align:left;
	background-color: #FFFFFF;
	border: solid black 3px;
	}
	
#frame td {
	font-size: 5px;
	line-height: 5px;
	}
	
#frame .quote {
	padding:10px 5px;
	margin:0px 0px 10px 0px;
	line-height: 1.0;
	background-color: #E7C6CE;
	text-align: center;
	font-style: oblique;
	}
#frame h6 {
	padding:0px;
	margin:0px;
	line-height: 1.0;
	text-align: center;
	font-style: oblique;
	}
		
#contentleft {
	width:161px;
	padding:25px 10px 25px 10px;
	float:left;
	voice-family: "\"}\"";
	voice-family: inherit;
	width:161px;
	background-color: #A5315A;
	}
#contentleft p {
	color: #FFFFFF;
	font-size: 120%;
	font-weight: bold;
	}
#contentleft a:link { 
	text-decoration: none; 
	color: #E7DED6;
	}
#contentleft a:visited { 
	text-decoration: none; 
	color: #E7DED6;
	}
#contentleft a:hover { 
	text-decoration: none; 
	color: #6600CC;
	}
#contentleft a:active { 
	text-decoration: none; 
	color: #CCCCCC;
	}
#contentleft p.tiny {
	color: #CCCC99;
	font-size: 10px;
	line-height: normal;
	}


	
#contentcenter {
	width:539px;
	height: 448px;
	padding:0px 20px;
	float:left;
	background:#fff;
	voice-family: "\"}\"";
	voice-family: inherit;
	min-height: 448px;
	height: auto;
	}
#contentcenter h1 {
	padding:10px 10px 10px 10px;
	margin:0px 0px 10px 0px;
	line-height: 1.0;
	text-align: right;
	font-style: oblique;
	background-image: url(images/fade-bar-right.gif);
	background-repeat: repeat-y;
	background-position: right;
	}
#contentcenter h4 {
	line-height: 2;
	padding:0px 0px 0px 0px;
	margin:0px 10px 10px 10px;
	}
#contentcenter p {
	line-height: 1.1;
	padding:0px 0px 6px 0px;
	margin:0px 10px 10px 10px;
	}
#contentcenter li {
	font-size: 14px;
	line-height: 1.1;
	}
#contentcenter ul {
	font-size: 14px;
	line-height: 1.1;
	}
#contentcenter ol {
	font-size: 14px;
	line-height: 1.1;
	}
#contentcenter ol.disclosure {
	font-size: 14px;
	line-height: 1.1;
	margin-bottom: 10px;
	}
#contentcenter td {
	font-size: 14px;
	line-height: 1.1;
	}
#contentcenter th {
	font-size: 14px;
	line-height: 1.1;
	}
#contentcenter img {
	margin:0px;
	}
#contentcenter a:link {
	text-decoration: none;
	font-weight: bold;
	}
#contentcenter a:visited { 
	text-decoration: none; 
	font-weight: bold;
	}
#contentcenter a:hover, a:active { 
	font-weight: bold;
	text-decoration: underline; 
	}
#contentcenter img.bordered {
	margin:0px 10px;
	}

#contentfooter {
	margin:0px;
	padding: 0px;
	border:0px solid #000;
	}
	
#contentfooter img {
	margin:0px;
	padding: 0px;
	}
	
#contentfooter p {
	font-size: 22px;
	line-height: 1.0;
	background-color: #E7C6CE;
	text-align: right;
	font-style: oblique;
	}

	
	
